<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @user %>">
  <h2>Username:</h2>

  <p><%= @user.username %></p>

  <p>
    <% if @user.ratings.empty? %>
      Has made no ratings
    <% else %>
      Has made <%= pluralize(@user.ratings.count, "rating") %>, average rating <%= @user.ratings.average(:score).round(1) %>
    <% end %>
  </p>

  <p><strong>member of</strong></p>

  <% @user.beerclubs.each do |beerclub| %>
    <%= link_to beerclub.name, beerclub %>
  <% end %>

  <p><strong>ratings</strong></p>

  <p>
    <% if !@user.ratings.empty? %>
      <% @user.ratings.each do |rating| %>
        <li> <%= rating.beer.name %> <%= rating.score %> 
          <% if @user == current_user %>
            <%= link_to 'Delete', rating,
            data: {
              "turbo-method": :delete,
              "turbo-confirm": "Are you sure?"
            } %> 
          <% end %>
        </li>
      <% end %>
    <% end %>
  </p>
</div>

<div>
  <% if current_user == @user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>

  <% if current_user == @user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
