<h1>Beers</h1>

<table class="table table-hover">
  <thead>
    <th>Beer</th>
    <th>Style</th>
    <th>Brewery</th>
    <th>Rating</th>
  </thead>
  <% @beers.each do |beer| %>
    <tr>
      <td><%= link_to beer.name, beer %></td>
      <td><%= link_to beer.style.name, beer.style %></td>
      <td><%= link_to beer.brewery.name, beer.brewery %></td>
      <% if beer.ratings.empty? %>
        <td>0.0</td>
      <% else %>
        <td><%= beer.ratings.average(:score).round(1) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to 'list of breweries', breweries_path%></p>

<%= link_to('New Beer', new_beer_path, class:"btn btn-primary") if current_user %>
