<p style="color: green"><%= notice %></p>

<%= render @beerclub %>

<% if current_user && current_user.beerclub != @beerclub %>
  <%= form_with(model: @membership) do |form| %>
    <%= form.hidden_field :beerclub_id, value: @beerclub.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "Join the beer club" %>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this beerclub", edit_beerclub_path(@beerclub) if current_user %> |
  <%= link_to "Back to beerclubs", beerclubs_path %>

  <%= button_to "Destroy this beerclub", @beerclub, method: :delete if current_user %>
</div>
