<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
<% end %>

<% if @weather%>
  <p><strong>The current beer weather in <%= @weather['location']['name']%> is <%= @weather['current']['weather_descriptions'].join(", ").downcase %></strong></p>
  <p><strong>temperature</strong> <%= @weather['current']['temperature'] %> &#8451;, feels like <%= @weather['current']['feelslike'] %>&#8451;</p>
  <div><%= image_tag @weather['current']['weather_icons'].first %></div>
  <p><strong>wind</strong> speed <%= (@weather['current']['wind_speed']/3.6).round(2) %> m/s, direction: <%= @weather['current']['wind_dir'] %></p>
  <% end %>

<% if @places.present? %>
  <table>
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <% if field == :name %>
            <td><%= link_to place.name, place_path(place.id) %></td>
          <% else %>
            <td><%= place.send(field) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>